.bg-div{
    background: rgba(126, 126, 126, 0.892)fff;
}
.bgnone{
    background-color: #F5F3EF;
    box-shadow: rgba(0, 0, 0,1) 2.4px 2.4px 3.2px;
}
.bg-gray{
    background-color: #F5F3EF;
}
@media (max-width:991px) {
    body .bgnone{
        background-color:transparent;
    }
   
}

.bi{
    color:#125C42;
}
.bi2{
    color:#e9b51e;
    border: solid 1.2px #e9b51e;
    border-radius: 50%;
    background-color: #F5F3EF;
    padding: 5px;
}
.bi4{
    color:#F5F3EF;
    border-radius: 50%;
    border: solid 1.5px #e9b51e;
    background-color: #e9b51e;
    padding: 0px;
}
.bi2,.bi4{
    box-shadow: 0 0 .5px rgb(73, 73, 73);
}

.bi3{
    color:rgb(76, 76, 76)
}
.bi2:hover,.bi4:hover{
transform:translateY(-3px) scale(1.04);
}
.mask{
    filter:blur(15px);
}
.bc-color{
    background-color: #e9b51e;
    border-radius: 20px;
    color: #ffffff;
    border: solid 4px;
    box-shadow: 0 0 5px hsla(45, 49%, 42%, 0.79);
}
.f-20{
    font-size: 20px;
}
.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
